<!--
************************************************************
* Copyright © Ultimus.                                     *
* Diseño y desarrollo: Rubén Enrique Spagnuolo (respag)    *
* Panamá - 2014                                            *
************************************************************
-->
@helper DevuelveUsuario(string cadena)
{
    if (cadena != null && cadena != String.Empty)
    {
        var arr = cadena.Split('|');
        var nombre = arr[1];
        var cedula = arr[2];
        var Ruc = arr[3];
        var Rol = arr[4];
        var IDSercopEmpresa = arr[5];
        var IDUltimusEmpresa = arr[6];
        var IDSercopSucursal = arr[7];
        var IDUltimusSucursal = arr[8];

        InformationService.ServiceReference.InformationServiceClient client = new InformationService.ServiceReference.InformationServiceClient();
        var resultado = client.GetDepartmentByRuc(Ruc);
        var Empresa = resultado.DepartamentName;
        var TipoEmpresa = resultado.DepartamentType;

        var dslogin = new ULAPW.ServiceEasyLogin.DSLogin();
        var svc = new ULAPW.ServiceEasyLogin.WSEasyLoginSoapClient();
        svc.getUserByNombreCorto(@nombre, ref dslogin);
        var email = dslogin.Tables[1].Rows[0]["Email"];       
        
        @nombre
        <p id="datos" style="display:none">
            <span style="font-weight:bold;color:darkblue;font-size:18px;">
                Usuario: <span id="nombreUsuario">@nombre.ToUpper()</span>
            </span><br /><br />
            Email: <span id="correo">@email</span><br />Rol: <span id="rol">@Rol</span>
            <br />Cedula:<span id="cedula">@cedula</span><br /><br /><br />

            <span style="font-weight:bold;color:darkblue;font-size:18px;">
                Empresa: <span id="empresa">@Empresa</span>
            </span><br /><br />
            Tipo de Empresa: <span id="tipoEmpr">@TipoCompleto(TipoEmpresa)</span> <br />
            RUC: <span id="ruc">@Ruc</span><br /><br />
            <span id="IDSercopEmpresa" class="hidden">@IDSercopEmpresa</span>
            <span id="IDUltimusEmpresa" class="hidden">@IDUltimusEmpresa</span>
            <span id="IDSercopSucursal" class="hidden">@IDSercopSucursal</span>
            <span id="IDUltimusSucursal" class="hidden">@IDUltimusSucursal</span>
        </p>
    }
}

@helper TipoCompleto(string tipoAbrev)
{
    var tipoCompleto = "";
    if (tipoAbrev == "PRO")
    {
        tipoCompleto = "Proveedor";
    }
    else if (tipoAbrev == "ENT")
    {
        tipoCompleto = "Entidad Contratante";
    }
    else
    {
        tipoCompleto = "Sercop";
    }
    <span>@tipoCompleto</span>
}